
body{
   background-color: rgb(254, 245, 202);
   border: 5px rgb(189, 134, 65) solid;
}

.div1cs{
   width: 100%;
   margin: 0;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin: 5;
   color: rgb(67, 66, 63);
}
.div2cs{
   font-family:'Birthstone', cursive;
   border-top: 5px rgb(189, 134, 65) solid;
   border-bottom: 5px rgb(189, 134, 65) solid ;
   background: linear-gradient(90deg, rgb(238, 229, 187) 10%, rgb(207, 147, 73) 100%); 
   justify-content: center;
   text-align:center
}
.div3cs{
   text-align: center;

}
h1{
   margin-bottom: 0%;
   font-family:'Birthstone', cursive;
   font-size:70px;
}
h2{
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 40px;
   font-weight: 100;
   padding: 10px 0px;

}
h3{
   font-size: 20px;
   margin-bottom: 0%;

}
p{
   margin-top: 0%;
   margin-bottom: 30px;
   font-size: 17px;
   font-family: 'Satisfy', cursive;
}

.imag{
   border-radius: 50px;
   border: 7px rgb(189, 134, 65) solid;
   border-style: double;
}